@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

@layer components {
  .hstack {
    @apply flex flex-row items-center;
  }

  .vstack {
    @apply flex flex-col items-start;
  }

  .center {
    @apply flex items-center justify-center;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
